@media screen and (min-device-width:1200px) {
  .container {
    padding: 0;
  }

  .navbar-nav li {
    display: block;
  }
}

@media screen and (min-device-width:1450px) {
  .romy-main-large {
    display: block;
  }

  .romy-main-image, .romy-mobile-main-image {
    display: none;
  }
}



@media screen and (max-device-width:1320px) {
  .container {
    padding: 0 30px;
  }
}

@media screen and (max-device-width:1200px) {
  .mobile-menu-wrapper {
    display: block;
  }

  .desctop-menu {
    display: none !important;
  }

  .presentation__content {
    max-width: 82%;
    margin: 180px auto 0px;
  }

  .top-bar {
    display: none !important;
  }

  .nav-item_call-button {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  .nav-item_call-button .nav-tel-btn {
    box-shadow: 0 2px 10px rgb(255 255 255 / 60%);
  }

  .navbar {
    padding-top: 0px;
  }
}

@media screen and (max-device-width:1000px) {
  .presentation__content {
    margin-top: 100px;
  }
}

@media screen and (max-device-width:992px) {
  .presentation__content {
    margin-top: 60px;
    padding-bottom: 25px;
  }
  
  .romy-main-image {
    display: none;
  }

  .romy-mobile-main-image {
    display: block;
  }
}

@media screen and (max-device-width:800px) {
  .presentation__content {
    max-width: 84%;
    padding-bottom: 25px;
  }
}

@media screen and (max-device-width:400px) {
  .presentation__signature img {
    width: 80%;
  }
}